In [1]:
# let's first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#### This task will be done in following steps:
##### 1. First get the webpage https://www.naukri.com/
##### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
##### location” field.
##### 3. Then click the search button.
##### 4. Then scrape the data for the first 10 jobs results you get.
##### 5. Finally create a dataframe of the scraped data.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

#### IMPORTING ALL THE NECESSARY LIBRARIES

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [4]:
# applying url to the web driver
url = "https://www.naukri.com"
driver.get(url)

In [5]:
# Putting Data analyst in Job Position
search_job=driver.find_element (By.CLASS_NAME,"suggestor-input")
search_job.send_keys('Data Analyst')

In [6]:
# Putting angalore as location
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [7]:
search_btn= driver .find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

#### Collecting all the data of related job_titles,company_name,experience and location . 
#### And checking the length of each of them .

In [8]:
job_titles=[]
titles_tags= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [9]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    if i.text is None:
        company_name.append('Not')
    else:
        company_name.append(i.text)
len(company_name)

20

In [10]:
experience=[]
exp_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    if i.text is None:
        experience.append('Not')
    else:
        experience.append(i.text)
len(experience)

20

In [11]:
location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags:
    if i.text is None:
        location.append('Not')
    else:
        location.append(i.text)
len(location_tags)

20

#### Making the data frame after veryfying the length

In [12]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience
jobs['Location']=location
jobs.drop(index=jobs.index[10:])

,Job Title,Company,Experience,Location
0,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
1,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
2,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
3,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
4,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Groundtruth,5-8 Yrs,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram"
6,Sr Data Analyst,Mettox Laboratries,3-8 Yrs,Bangalore/Bengaluru
7,Senior Analyst - Data Management,Accenture,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Visakhap..."
9,CONSULTANT - DATA ANALYST - CRM ERP,Pratham Books,14-20 Yrs,Bangalore/Bengaluru

In [13]:
driver.close()

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
##### 1. First get the webpage https://www.naukri.com/
##### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
##### location” field.
##### 3. Then click the search button.
##### 4. Then scrape the data for the first 10 jobs results you get.
##### 5. Finally create a dataframe of the scraped data.
### Note: All of the above steps have to be done in code. No step is to be done manually

In [45]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [46]:
#Putting url in the driver
url = "https://www.naukri.com"
driver.get(url)

In [47]:
# putting Data scientist as Job title
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys('Data Scientist')

In [48]:
# Putting Banglore as location 
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [49]:
search_btn= driver .find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

Collecting all the data of related job_titles,company_name,experience and location .
And checking the length of each of them .

In [50]:
job_titles=[]
titles_tags= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [51]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    if i.text is None:
        company_name.append('Not')
    else:
        company_name.append(i.text)
len(company_name)

20

In [52]:
experience=[]
exp_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    if i.text is None:
        experience.append('Not')
    else:
        experience.append(i.text)
len(experience)

20

In [53]:
location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags:
    if i.text is None:
        location.append('Not')
    else:
        location.append(i.text)
len(location_tags)

20

Making the Data Frame after veryfying the length

In [54]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience
jobs['Location']=location
jobs.drop(index=jobs.index[10:])

,Job Title,Company,Experience,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Senior Data Scientist,Wipro,6-11 Yrs,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
2,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
3,Assistant Manager - Data Science,Citiustech,5-9 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
4,Data Scientist,Altair,2-7 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
5,ACN - Applied Intelligence - Data Scientist - 09,Accenture,2-6 Yrs,Bangalore/Bengaluru
6,Data Scientist - 2,24 7 ai,1-3 Yrs,Bangalore/Bengaluru
7,Data Scientist,HCLTech,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Assistant Vice President - Data Scientist - KPO,Huquo Consulting Pvt. Ltd,6-11 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
9,Data Scientist,Infinics Global Solutions Pvt Ltd,7-12 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."

In [55]:
driver.close()

#### Q 3)You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

##### first get the webpage https://www.naukri.com/
##### Enter “Data Scientist” in “Skill, Designations, and Companies” field.
##### Then click the search button.
##### Then apply the location filter and salary filter by checking the respective boxes
##### Then scrape the data for the first 10 jobs results you get.
#### Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [66]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

Putting url to the driver

In [67]:
url = "https://www.naukri.com"
driver.get(url)

Putting Data Scientist as Job title and directly going for search button through class name

In [68]:
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys('Data Scientist')

In [69]:
search_btn= driver .find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

Putting absolute Xpath to loation and salary filter

In [70]:
loc_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
loc_filter.click()

In [73]:
sal_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p')
 
sal_filter.click()

Getting the required detail of company name , location, experience and job title

In [74]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    if i.text is None:
        company_name.append('Not')
    else:
        company_name.append(i.text)
len(company_name)

11

In [75]:
experience=[]
exp_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    if i.text is None:
        experience.append('Not')
    else:
        experience.append(i.text)
len(experience)

11

In [76]:
location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags:
    if i.text is None:
        location.append('Not')
    else:
        location.append(i.text)
len(location_tags)

11

In [77]:
job_titles=[]
titles_tags= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)
    
len(job_titles)

11

Making the Data Frame after veryfying the length

In [78]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience
jobs['Location']=location
jobs.drop(index=jobs.index[10:])

,Job Title,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist / Sr. Data Scientist,Wegarner Solutions,3-8 Yrs,Temp. WFH - Noida
5,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
6,Data Scientist,Meon Technologies,2-5 Yrs,Noida
7,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [79]:
driver.close()

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
##### 1. Brand
##### 2. Product Description
##### 3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [5]:
# Putting url to the driver
url = "https://www.flipkart.com"
driver.get(url)

In [8]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g.send_keys('sunglasses')

In [9]:
search_btn= driver .find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [10]:
# Creating empty list for all the data required

B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [13]:
#collecting all the data required as in a single page 40 products are given so for 100 product we have to go up to 3 pages/range

for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

Making Data frame of the sun glasses

In [14]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [15]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,Fastrack,₹649₹99935% off,UV Protection Wayfarer Sunglasses (Free Size),35% off
1,PIRASO,"₹199₹1,59987% off",UV Protection Rectangular Sunglasses (52),87% off
2,Fastrack,₹519₹79935% off,UV Protection Rectangular Sunglasses (Free Size),35% off
3,SUNBEE,"₹283₹1,29978% off","UV Protection, Polarized Wayfarer Sunglasses (...",78% off
4,Fastrack,₹649₹89927% off,UV Protection Shield Sunglasses (Free Size),27% off
...,...,...,...,...
95,ROZZETTA CRAFT,₹579₹89935% off,"Polarized, Riding Glasses Sports, Wrap-around ...",76% off
96,SHAAH COLLECTIONS,"₹254₹2,59990% off","UV Protection, Polarized, Mirrored Rectangular...",89% off
97,Elligator,"₹649₹1,99967% off","UV Protection Cat-eye, Retro Square, Oval, Rou...",82% off
98,GANSTA,"₹265₹1,49982% off",UV Protection Retro Square Sunglasses (53),87% off
99,Fastrack,"₹209₹1,59986% off",UV Protection Aviator Sunglasses (58),27% off

In [16]:
driver.close()

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
##### When you will open the above link you will reach to the below shown webpage .
##### As shown in the above page you have to scrape the tick marked attributes.These are:
##### 1. Rating
##### 2. Review summary
##### 3. Full review
##### 4. You have to scrape this data for first 100 reviews.

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [18]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

As the given Url was not working so I copied the Url for required data from the website after self browsing

In [21]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=apple+iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=AS_Query_OrganicAutoSuggest_5_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_5_7_na_na_na&fm=organic&iid=1b663406-2c47-4b43-8bd1-f60b8c0756b1.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=eue5ndaof40000001667568254423&qH=cc74be6329e232f4"
driver.get(url)

In [29]:
#As we required 100 no of data so we have to visit up to 10 pages so ---
rating = []
for i in range(10):
    print('Scraping page',i+1)
    star = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for r in star:
        rating.append(r.text)
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')    
    next_button
    
len(rating)

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

100

In [33]:
review_sum = []
for i in range(10):
    print('Scraping page',i+1)
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for z in review:
        review_sum.append(z.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')    
    
len(review_sum)

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

100

In [35]:
full_rev = []
for i in range(10):
    print('Scraping page',i+1)
    review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for z in review:
        full_rev.append(z.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')   
    
    
len(full_rev)

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

100

 After collecting the Data and veryfying the length of each of them we are making Data Frame

In [36]:
df = pd.DataFrame({'Rating':rating,'Review Summary':review_sum,'Full Review':full_rev})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Highly recommended,It's my first time to use iOS phone and I am l...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [37]:
driver.close()

#### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
#### search field.
##### You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

#### As shown in the below image, you have to scrape the tick marked(discount) attributes.

In [38]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [39]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [40]:
url="https://www.flipkart.com/"
driver.get(url)

In [41]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g.send_keys('sneakers')

In [45]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn
search_btn= driver .find_element(By.CLASS_NAME,"L0Z3Pu")

In [46]:
search_btn.click()

In [ ]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

Collecting the required Data by XPath up to 3 pages as in one page only 40 products are listed.

In [47]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

Cheaking the length of data before making the data frame

In [48]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

Making the Data Frame

In [49]:
sneaker=pd.DataFrame({})
sneaker['Brand_name']=B_name[:100]
sneaker['P_price']=Price[:100]
sneaker['Pr_desc']=P_desc[:100]
sneaker['P_discount']=Discount[:100]
sneaker

,Brand_name,P_price,Pr_desc,P_discount
0,Fastrack,₹649₹99935% off,UV Protection Wayfarer Sunglasses (Free Size),35% off
1,PIRASO,"₹199₹1,59987% off",UV Protection Rectangular Sunglasses (52),87% off
2,Fastrack,₹519₹79935% off,UV Protection Rectangular Sunglasses (Free Size),35% off
3,SUNBEE,"₹283₹1,29978% off","UV Protection, Polarized Wayfarer Sunglasses (...",78% off
4,Fastrack,₹649₹89927% off,UV Protection Shield Sunglasses (Free Size),27% off
...,...,...,...,...
95,ROZZETTA CRAFT,₹579₹89935% off,"Polarized, Riding Glasses Sports, Wrap-around ...",76% off
96,SHAAH COLLECTIONS,"₹254₹2,59990% off","UV Protection, Polarized, Mirrored Rectangular...",89% off
97,Elligator,"₹649₹1,99967% off","UV Protection Cat-eye, Retro Square, Oval, Rou...",82% off
98,GANSTA,"₹265₹1,49982% off",UV Protection Retro Square Sunglasses (53),87% off
99,Fastrack,"₹209₹1,59986% off",UV Protection Aviator Sunglasses (58),27% off

In [50]:
driver.close()

#### Q7: Go to the link - https://www.myntra.com/shoes
#### Set second Price(7205-14137) filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. 

The data should include “Brand” of the shoes , 

Short Shoe description,

#### price of the shoe as shown in the below image.

In [51]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [52]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [53]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [56]:
# appplying the price filter
filter_button=driver.find_elements(By.XPATH,"//label[@class='common-customerCheckbox vertical-filters-label']")
for i in filter_button:
    if i.text=="Rs. 7198 to Rs. 14133":
        i.click()
        break

In [57]:
#Applying the color filter


filter_button=driver.find_elements(By.XPATH,"//li[@class='colour-listItem']")
for i in filter_button:
    if i.text=="Black":
        i.click()
        break

In [59]:
# collecting the required Data 
B_name=[]
Price=[]
P_desc=[]



for i in range(2):
    b_name=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    p_desc=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    price =driver.find_elements(By.XPATH,"//div[@class='product-price']")
 
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [60]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

Making The Data Frame

In [61]:
black_shoes=pd.DataFrame({})
black_shoes['Brand_name']=B_name[:100]
black_shoes['P_price']=Price[:100]
black_shoes['Pr_desc']=P_desc[:100]

black_shoes

,Brand_name,P_price,Pr_desc
0,Nike,Rs. 7645Rs. 8495(10% OFF),Men AIR WINFLO 9 Running Shoes
1,Nike,Rs. 9175Rs. 10795(15% OFF),JORDAN ZION 2 Basketball Shoes
2,Nike,Rs. 8240Rs. 9695(15% OFF),JORDAN LUKA 1 Basketball Shoes
3,Nike,Rs. 10796Rs. 13495(20% OFF),Unisex AIR MAX 270 Golf Shoes
4,Nike,Rs. 10165Rs. 11295(10% OFF),Men JORDAN Basketball Shoes
...,...,...,...
95,Nike,Rs. 9175Rs. 10795(15% OFF),Men AIR MAX DAWN Sneakers
96,Tommy Hilfiger,Rs. 7199Rs. 8999(20% OFF),Men Solid Sneakers
97,ADIDAS Originals,Rs. 12599Rs. 13999(10% OFF),Men Streetball II Sneakers
98,UNDER ARMOUR,Rs. 9999,Women HOVR SonicSE Running
99,ADIDAS Originals,Rs. 8999,Women Solid Stan Smith Sneaker

In [62]:
driver.close()

#### Q8: Go to webpage https://www.amazon.in/
#### Enter “Laptop” in the search field and then click the search icon.
#### Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [74]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [86]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [87]:
url="https://www.amazon.in/"
driver.get(url)

In [88]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]' )
search_g.send_keys('Laptop')

In [89]:
search_btn=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [90]:
# Applying filter button through absolute X path

filter_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[13]/span/a/div')
filter_btn.click()

In [98]:
brand = []
rating = []
price = []
# collecting the data for empty list 
all_products = driver.find_elements(By.XPATH,'//div[@data-component-type="s-search-result"]')

for product in all_products:
    
    brands_name = product.find_elements(By.XPATH,'.//span[@class="a-size-medium a-color-base a-text-normal"]')
    for a in brands_name:
        brand.append(a.text)
    try:
        if len(product.find_elements(By.XPATH,".//div[@class='a-row a-size-small']/span[1]"))>0:
            star = product.find_elements(By.XPATH,".//div[@class='a-row a-size-small']/span[1]")
            for b in star:
                rating.append(b.get_attribute("aria-label"))
        else:
            rating.append("NA")
    except:
        pass
                 
    amount = product.find_elements(By.XPATH,".//span[@class='a-price-whole']")
    for c in amount:
        price.append(c.text)

In [99]:
len(brand)

24

In [100]:
b = brand[0:10]

In [101]:
b

['HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 'Lenovo ThinkBook 15 Intel 12th Gen Core i7 15.6" (39.62cm) FHD 250 nits Antiglare Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit/Mineral Grey/1.7 Kg), 21DJA04NIH',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)']

In [102]:
rating

['4.5 out of 5 stars',
 '3.6 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '3.5 out of 5 stars',
 'NA',
 '3.9 out of 5 stars',
 '5.0 out of 5 stars',
 'NA',
 '2.8 out of 5 stars',
 'NA',
 'NA',
 'NA',
 '4.0 out of 5 stars',
 '2.9 out of 5 stars',
 '3.6 out of 5 stars',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA']

In [103]:
r = rating[0:10]
r

['4.5 out of 5 stars',
 '3.6 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '3.5 out of 5 stars',
 'NA',
 '3.9 out of 5 stars',
 '5.0 out of 5 stars',
 'NA',
 '2.8 out of 5 stars']

In [104]:
p = price[0:10]
p

['80,990',
 '83,990',
 '25,895',
 '84,918',
 '1,04,819',
 '86,490',
 '21,990',
 '22,999',
 '25,990',
 '45,990']

Making Data Frame

In [105]:
df = pd.DataFrame({'Brand':b,'Price':p,'Rating':r})
df

,Brand,Price,Rating
0,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"80,990",4.5 out of 5 stars
1,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"83,990",3.6 out of 5 stars
2,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...","25,895",3.8 out of 5 stars
3,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,"84,918",4.3 out of 5 stars
4,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,"1,04,819",3.5 out of 5 stars
5,"Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...","86,490",NA
6,Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...,"21,990",3.9 out of 5 stars
7,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,"22,999",5.0 out of 5 stars
8,(Renewed) HP Workstation Zbook Intel Core i7-4...,"25,990",NA
9,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,"45,990",2.8 out of 5 stars

In [106]:
driver.close()

#### Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quote

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [4]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [5]:
url="https://www.azquotes.com/"
driver.get(url)

In [6]:
top100qt=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top100qt.click()

As there are only 100 qoutes in one page so we have to search up to all the 10 pages

In [16]:
# here range 10is given for all the 10 pages  

titles=[]
for page in range (10):
    titles_tags= driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in titles_tags:
        titles.append(i.text)
    
len(titles)

1000

In [17]:
author=[]
for page in range (10):
    author_tags= driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
    
len(author)

1000

In [18]:
type=[]
for page in range (10):
    type_tags= driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type.append(i.text)
    
len(type)

1000

#### Making the Data Frame after collecting the data

In [19]:
df = pd.DataFrame({'Title':titles,'Author':author,'Type':type})
df

,Title,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [20]:
driver.close()

#### Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
#### This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [39]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [40]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [41]:
url="https://www.jagranjosh.com/"
driver.get(url)

In [42]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [43]:
list_pm=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
list_pm.click()

In [44]:
sn=[]
name=[]
born_dead=[]
term_of_office=[]
remark=[]

In [45]:
#fetching all the elements and appending it in list
df=driver.find_elements(By.XPATH,'//div[@class="table-box"][1]/table/tbody/tr')
lis=[]
new=[]
for i in df:
    # formatting the strings and splitting in new line
    li=i.text.split('\n')
    lis.append(li)

In [46]:
lis=lis[1:]

In [47]:
for i in lis:
    # Appending serial numbers in sn
    #Appending names in name
    #Appending born-dead in born_dead
    sn.append(i[0])
    name.append(i[1])
    born_dead.append(i[2])
    # condition for appending in term_of_office and remark
    if(len(i)==5):
        term_of_office.append(i[3])
        remark.append(i[4])
    else:
        term_of_office.append(i[3:5])
        remark.append(i[5])

In [48]:
PRIME_MINISTERS=pd.DataFrame({"SERIAL_NUMBER":sn,"NAME":name,"BORN-DEAD":born_dead,"TERM OF OFFICE":term_of_office,"REMARK":remark})

In [49]:
PRIME_MINISTERS.set_index(['SERIAL_NUMBER'],inplace=True)

In [50]:
PRIME_MINISTERS

,NAME,BORN-DEAD,TERM OF OFFICE,REMARK
SERIAL_NUMBER,,,,
1.,Jawahar Lal Nehru,(1889–1964),"[15 August 1947 to 27 May 1964, 16 years, 286 ...",The first prime minister of India and the long...
2.,Gulzarilal Nanda (Acting),(1898-1998),"[27 May 1964 to 9 June 1964,, 13 days]",First acting PM of India
3.,Lal Bahadur Shastri,(1904–1966),"[9 June 1964 to 11 January 1966, 1 year, 216 d...",He has given the slogan of 'Jai Jawan Jai Kisa...
4.,Gulzari Lal Nanda (Acting),(1898-1998),"[11 January 1966 to 24 January 1966, 13 days]",-
5.,Indira Gandhi,(1917–1984),"[24 January 1966 to 24 March 1977, 11 years, 5...",First female Prime Minister of India
6.,Morarji Desai,(1896–1995),"[24 March 1977 to 28 July 1979 , 2 year, 126 ...",Oldest to become PM (81 years old) and first t...
7.,Charan Singh,(1902–1987),"[28 July 1979 to 14 January 1980, 170 days]",Only PM who did not face the Parliament
8.,Indira Gandhi,(1917–1984),"[14 January 1980 to 31 October 1984, 4 years, ...",The first lady who served as PM for the second...
9.,Rajiv Gandhi,(1944–1991),"[31 October 1984 to 2 December 1989, 5 years, ...",Youngest to become PM (40 years old)
10.,V. P. Singh,(1931–2008),"[2 December 1989 to 10 November 1990, 343 days]",First PM to step down after a vote of no confi...
11.,Chandra Shekhar,(1927–2007),"[10 November 1990 to 21 June 1991, 223 days]",He belongs to Samajwadi Janata Party
12.,P. V. Narasimha Rao,(1921–2004),"[21 June 1991 to 16 May 1996, 4 years, 330 days]",First PM from south India
13.,Atal Bihari Vajpayee,(1924- 2018),"[16 May 1996 to 1 June 1996, 16 days]",PM for shortest tenure
14.,H. D. Deve Gowda,(born 1933),"[1 June 1996 to 21 April 1997, 324 days]",He belongs to Janata Dal
15.,Inder Kumar Gujral,(1919–2012),"[21 April 1997 to 19 March 1998 , 332 days]",------
16.,Atal Bihari Vajpayee,(1924-2018),"[19 March 1998 to 22 May 2004 , 6 years, 64 days]",The first non-congress PM who completed a ful...
17.,Manmohan Singh,(born 1932),"[22 May 2004 to 26 May 2014 , 10 years, 4 days]",First Sikh PM
18.,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [51]:
driver.close()

#### Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
#### This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the data frame

In [52]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [53]:
url="https://www.motor1.com/"
driver.get(url)

In [55]:
menu=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
menu.click()

In [58]:
listy=driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')

In [61]:
expansiv=driver.find_element(By.XPATH,"//div[@class='text-box']/h3/a[contains(@href,'-new-cars-ever')]")

In [62]:
expansiv.click()

In [63]:
import re
name_car=[]
price_car=[]
# ------appending name of car in name_car and price of car in price_car and using string formatting-----
car=driver.find_elements(By.XPATH,"/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/ul/li")
for i in car:
    # formatting strings using replace and split
    ele=i.text.replace('-','').replace(':','').split('$')
    name_car.append(ele[0])
    price_car.append(ele[1])

In [64]:
most_expensive=pd.DataFrame({"NAME OF THE CAR":name_car,"PRICE OF THE CAR IN ($)":price_car})
most_expensive

                      NAME OF THE CAR PRICE OF THE CAR IN ($)
0                         Drako GTE               1.2 Million
1                       DeTomaso P72              1.3 Million
2                 Ferrari LaFerrari               1.4 Million
3                     Pagani Huayra               1.4 Million
4                       Czinger 21C               1.7 Million
5                     Ferrari Monza               1.7 Million
6                Gordon Murray T.33               1.7 Million
7                 Koenigsegg Gemera               1.7 Million
8                      McLaren Elva               1.7 Million
9                        Zenvo TSRS               1.7 Million
10               Hennessey Venom F5               1.8 Million
11                  Bentley Bacalar               1.9 Million
12     Hispano Suiza Carmen Boulogne              1.9 Million
13            Bentley Mulliner Batur              2.0 Million
14                      Deus Vayanne              2.0 Million
15                      SSC Tuatara              2.0 Million*
16                      Lotus Evija               2.1 Million
17              Aston Martin Vulcan               2.3 Million
18                        Delage D12              2.3 Million
19                McLaren Speedtail               2.3 Million
20                     Rimac Nevera               2.4 Million
21                     Pagani Utopia              2.5 Million
22             Pininfarina Battista               2.5 Million
23                Ferrari FXX K Evo               2.6 Million
24               Gordon Murray T.50               2.6 Million
25             Lamborghini Countach               2.6 Million
26          MercedesAMG Project One               2.7 Million
27              Aston Martin Victor               3.0 Million
28       Hennessey Venom F5 Roadster              3.0 Million
29                 Koenigsegg Jesko               3.0 Million
30            Aston Martin Valkyrie               3.2 Million
31        W Motors Lykan Hypersport               3.4 Million
32                     McLaren Solus              3.5 Million
33        Pagani Huayra Roadster BC               3.5 Million
34         Bugatti Chiron Pur Sport               3.6 Million
35                 Lamborghini Sian               3.6 million
36                  Koenigsegg CC850              3.7 Million
37  Bugatti Chiron Super Sport 300+               3.9 Million
38               Lamborghini Veneno               4.5 Million
39                   Bugatti Bolide               4.7 Million
40                   Bugatti Mistral              5.0 Million
41               Pagani Huayra Imola              5.4 Million
42                     Bugatti Divo               5.8 Million
43              SP Automotive Chaos               6.4 Million
44                  Pagani Codalunga              7.4 Million
45          MercedesMaybach Exelero               8.0 Million
46               Bugatti Centodieci               9.0 Million
47              RollsRoyce Sweptail              12.8 Million
48         Bugatti La Voiture Noire              13.4 Million
49             RollsRoyce Boat Tail             28.0 Million*

In [65]:
driver.close()