In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
#Importing requests
import requests

# importing regex
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [11]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
time.sleep(4)
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [12]:
#Creating blank list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#Scraping Rank
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
1
#Scraping Name
name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)
    
Youtube_viewed=pd.DataFrame({})
Youtube_viewed['Rank']=Rank
Youtube_viewed['Name']=Name
Youtube_viewed['Artist']=Artist
Youtube_viewed['Upload_date']=Upload_date
Youtube_viewed['Views']=Views
Youtube_viewed

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.83
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.02
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.54
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.86
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.81
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.71
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.04
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.77
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.74
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.69
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.62
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.15
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.79
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.69
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.63
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.44
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.38
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.35
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.34
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.31
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.24
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [13]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [23]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
time.sleep(4)
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [25]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
driver.maximize_window()

#getting the specified url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(5)

#Getting url for international fixture and clicking on it
Options_btn = driver.find_element(By.XPATH , '//div[@class="collapse navbar-collapse"]/ul/li[2]').click()
time.sleep(3)






try:
    driver.find_element(By.XPATH , '//button[@class="cookie__accept btn btn-primary"]').click()
except NoSuchElementException:
    pass

more_fixtures = driver.find_element(By.XPATH , '//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]').click()
#Infix_btn = driver.find_element(By.XPATH ,"//a[@class='navigation__link navigation__link--in-drop-down']").click()
time.sleep(3)

#Creating empty list
Match_title = []
Series = []
Place = []
Date = []
Time = []

#Scraping data of match title
for i in driver.find_elements(By.XPATH ,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    i = i.text[:-2]
    Match_title.append(i)
    
#Scraping data of Place
for i in driver.find_elements(By.XPATH ,'//div[@class="fix-place ng-binding ng-scope"]'):
    i = i.text
    x = i.split('-')
    Place.append(x[1])
 
#scraping series data
series = driver.find_elements(By.XPATH ,'//span[@class="ng-binding"]')

for i in series:
    try:
        Series.append(i.text)
    except NoSuchElementException:
        Series.append('-')


#Scraping data of dates

dates = driver.find_elements(By.XPATH ,'//div[@class="match-card-left match-schedule"]')
for i in dates:
    try:
        Date.append(i.text)
    except NoSuchElementException:
        Date.append('-')

#Scraping time data
times = driver.find_elements(By.XPATH ,'//div[@class="match-card-right match-schedule "]')
for i in times:
    try:
        Time.append(i.text)
    except NoSuchElementException:
        Time.append('-')

In [26]:
#Creating dataframe
BCCI=pd.DataFrame({})
BCCI['Match Title'] = Match_title
BCCI['Series'] = Series
BCCI['Place'] = Place
BCCI['Date'] = Date
BCCI['Time'] = Time

#Printing data frame
BCCI

,Match Title,Series,Place,Date,Time
0,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",10 DEC 2022,11:30 AM IST
1,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium, NAVI MUMBAI",11 DEC 2022,7:00 PM IST
2,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",14 DEC 2022,9:30 AM IST
3,3rd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,14 DEC 2022,7:00 PM IST
4,4th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,17 DEC 2022,7:00 PM IST
5,5th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,20 DEC 2022,7:00 PM IST
6,2nd Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka",22 DEC 2022,9:30 AM IST
7,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:30 PM IST
8,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:30 PM IST
9,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:30 PM IST
10,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
11,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
12,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST
13,1st ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium, Hyderabad",18 JAN 2023,1:30 PM IST
14,2nd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Cric...,21 JAN 2023,1:30 PM IST
15,3rd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST

In [27]:
driver.close()

#### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
#### You need to find following details:
#### A) Name
#### B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# connecting to the web driver
driver=driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

#getting the specified url
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(10)

#Going to search bar and searching for selenium exception
# ser_button = driver.find_element(By.XPATH ,'//span[@class="kadence-svg-iconset"]')
# ser_button.click()
# print("Search button 1 clicked")

# time.sleep(3)

# ser_bar  = driver.find_element(By.XPATH ,'//td[@class="gsc-input"]')
# ser_bar.send_keys("selenium exception handling")


ser_but = driver.find_element(By.XPATH ,'//div[@class="srch"]/span[8]').click()
time.sleep(3)

#Url of selenium exception handling page
urls = driver.find_elements(By.XPATH ,'//td[@class="responsivetable"]/a')
page_url = urls[69].get_attribute("href")

driver.get(page_url)
time.sleep(5)

#Scraping data of names of exceptions
Name = []
Description = []

for i in driver.find_elements(By.XPATH ,'//div[@class="entry-content-wrap"]/div/p')[:41]:
    
    k = i.text.split(':')
    Name.append(k[0][2:].strip('.'))


# #Scraping data of descriptions of exceptions  
    Description.append(k[1])
    
#DATA FRAMEING
Guru=pd.DataFrame({})
Guru['Name of Exception'] = Name
Guru['Description of Exception'] = Description

#Printing data frame
Guru

,Name of Exception,Description of Exception
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [4]:
driver.close()

### 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
#### You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP(18-19)- at current prices
#### D) GSDP(19-20)- at current prices
#### E) Share(18-19)
#### F) GDP($billion)
### Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
driver.maximize_window()

#getting the specified url
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

In [6]:
#Clicking on economy section
economy = driver.find_element(By.XPATH ,"//div[@class='navbar']//div[2]//button").click()

urls = driver.find_element(By.XPATH ,"//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)

In [7]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [8]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH ,"//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)


#Scraping data of rank
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

    
# Scraping data of GSDP at current price (19-20)
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

    
#Scraping data of Share(18-19)
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH ,"//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [9]:
#DATA FRAMEING
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['GSDP at current price (19-20)'] = GSDP_1
StatisticsTime['GSDP at current price (18-19)'] = GSDP_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = GDP

#Printing the data frame
StatisticsTime

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [10]:
driver.close()

### 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
#### You have to find the following details:
##### A) Repository title
##### B) Repository description
##### C) Contributors count
##### D) Language used
###### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
# connecting to the web driver
driver=driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [12]:
#Getting explore button and clicking on it
explore = driver.find_element(By.XPATH ,'//nav[@class="mt-0 px-3 px-lg-0 mb-3 mb-lg-0"]/ul/li[3]').click()
#Selecting trending option
trend_url = driver.find_element(By.XPATH ,'//nav[@class="mt-0 px-3 px-lg-0 mb-3 mb-lg-0"]/ul/li[3]/div/ul[3]/li[3]/a')
urls = trend_url.get_attribute("href")
driver.get(urls)

#Creating empty list
repo_urls = []
rep_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH ,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    repo_urls.append(i.get_attribute("href"))

    
#Scraping data of repository title
title = driver.find_elements(By.XPATH ,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    rep_title.append(i.text)

    
#Scraping data from every repository page
for i in repo_urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping data of decription
    try:
        desc = driver.find_element(By.XPATH ,'//article[@class="markdown-body entry-content container-lg"]/p[2]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    #Scraping data of contributors
    try:
        cont_tags = driver.find_element(By.XPATH ,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(cont_tags.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    #fetching Languages used
    try:
        for i in driver.find_elements(By.XPATH ,'//div[@class="Layout-sidebar"]/div/div[6]/div/ul/li/a/span[1]'):
            lang.append(i.text)
        Language.append(lang)
    
    except NoSuchElementException:
        Language.append('-')

In [13]:
#DATA FRAMEING
Github=pd.DataFrame({})
Github['Repository title'] = rep_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language

#Printing data frame
Github

,Repository title,Repository description,Contributors count,Language used
0,fuergaosi233 / wechat-chatgpt,,18,"[TypeScript, JavaScript, C++, Java, Objective-..."
1,ggerganov / whisper.cpp,High-performance inference of OpenAI's Whisper...,25,"[TypeScript, JavaScript, C++, Java, Objective-..."
2,remix-run / react-router,"If you're new to React Router, we recommend yo...",824,"[TypeScript, JavaScript, C++, Java, Objective-..."
3,AutumnWhj / ChatGPT-wechat-bot,Please check the root directory of your projec...,-,"[TypeScript, JavaScript, C++, Java, Objective-..."
4,paradigmxyz / reth,,12,"[TypeScript, JavaScript, C++, Java, Objective-..."
5,869413421 / wechatbot,你可以使用docker快速运行本项目。,3,"[TypeScript, JavaScript, C++, Java, Objective-..."
6,rawandahmad698 / PyChatGPT,⭐️ Like this repo? please star & consider dona...,7,"[TypeScript, JavaScript, C++, Java, Objective-..."
7,surrealdb / surrealdb,,31,"[TypeScript, JavaScript, C++, Java, Objective-..."
8,gragland / chatgpt-chrome-extension,,-,"[TypeScript, JavaScript, C++, Java, Objective-..."
9,Tencent / Hippy,Homepage,80,"[TypeScript, JavaScript, C++, Java, Objective-..."
10,acheong08 / ChatGPT,Reverse Engineered ChatGPT by OpenAI. Extensib...,22,"[TypeScript, JavaScript, C++, Java, Objective-..."
11,izackwu / TeachYourselfCS-CN,TeachYourselfCS 的中文翻译。,8,"[TypeScript, JavaScript, C++, Java, Objective-..."
12,rmcelreath / stat_rethinking_2023,Instructor: Richard McElreath,-,"[TypeScript, JavaScript, C++, Java, Objective-..."
13,ryanmcdermott / clean-code-javascript,"Software engineering principles, from Robert C...",111,"[TypeScript, JavaScript, C++, Java, Objective-..."
14,humanloop / awesome-chatgpt,This list started as personal collection of in...,5,"[TypeScript, JavaScript, C++, Java, Objective-..."
15,louislam / uptime-kuma,"It is a self-hosted monitoring tool like ""Upti...",209,"[TypeScript, JavaScript, C++, Java, Objective-..."
16,lydiahallie / javascript-questions,-,185,"[TypeScript, JavaScript, C++, Java, Objective-..."
17,f / awesome-chatgpt-prompts,Add New Prompt,9,"[TypeScript, JavaScript, C++, Java, Objective-..."
18,LyraSearch / lyra,,29,"[TypeScript, JavaScript, C++, Java, Objective-..."
19,vincelwt / chatgpt-mac,You can use Cmd+Shift+G (Mac) or Ctrl+Shift+G ...,3,"[TypeScript, JavaScript, C++, Java, Objective-..."
20,openai / whisper,Whisper is a general-purpose speech recognitio...,31,"[TypeScript, JavaScript, C++, Java, Objective-..."
21,trekhleb / javascript-algorithms,This repository contains JavaScript based exam...,197,"[TypeScript, JavaScript, C++, Java, Objective-..."
22,OpenBB-finance / OpenBBTerminal,,152,"[TypeScript, JavaScript, C++, Java, Objective-..."
23,EbookFoundation / free-programming-books,This page is available as an easy-to-read webs...,"2,480","[TypeScript, JavaScript, C++, Java, Objective-..."
24,donnemartin / system-design-primer,Help translate this guide!,116,"[TypeScript, JavaScript, C++, Java, Objective-..."

In [14]:
driver.close()

## Q6: Scrape the details of top 100 songs on billboard.com.
#### Url = https://www.billboard.com/ You have to find the following details:
#### A) Song name 
#### B) Artist name 
#### C) Last week rank
#### D) Peak rank 
#### E) Weeks on board

In [84]:
# connecting to the web driver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
driver.maximize_window()

# getting the webpage of mentioned url
url = ("https://www.billboard.com/")
driver.get(url)

In [85]:
driver.find_element(By.XPATH,"//div[@class='u-overflow-hidden lrv-u-background-color-grey-lightest lrv-u-padding-t-150 u-padding-t-00@mobile-max u-padding-b-425@desktop-xl u-padding-b-325@tablet u-padding-b-250']").click()

In [88]:

driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a").click()

In [89]:
Song_name = []
Artist_name = []
Last_week = []
Peak_rank = []
Weeks_on = []

so_name = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for name in so_name:
    Song_name.append(name.text)
    
#scraping the data of Artist_name
try:
    op_art = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
    for os in op_art:
        Artist_name.append(os.text)
except NoSuchElementException:
    Artist_name.append('-')


#scraping data of display of the Last_week
try:
    last = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for disp in last:
        Last_week.append(disp.text)
except NoSuchElementException:
    Last_week.append("-")


# scraping data of Peak_rank
try:
    rank = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
    for pro in rank:
        Peak_rank.append(pro.text)
except NoSuchElementException:
    Peak_rank.append('-')

# scraping data of Weeks_on
try:
    week = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for pro in week:
        Weeks_on.append(pro.text)
except NoSuchElementException:
    Weeks_on.append('-')

In [90]:
len(Song_name),len(Artist_name),len(Last_week),len(Peak_rank),len(Weeks_on)

(100, 400, 200, 100, 200)

In [91]:
Artist_name=Artist_name[0:100]
len(Artist_name)

100

In [92]:
Last_week=Last_week[0:100]
len(Last_week)

100

In [93]:
Weeks_on=Weeks_on[0:100]
len(Weeks_on)

100

In [94]:
import pandas as pd
top_song = pd.DataFrame()
top_song['song'] = Song_name
top_song['Artist'] = Artist_name
top_song['Last'] = Last_week
top_song['Peak'] = Peak_rank
top_song['Week'] = Weeks_on
top_song

                                 song         Artist Last Peak Week
0                           Anti-Hero   Taylor Swift    1    1    1
1     All I Want For Christmas Is You              1    6    2    6
2   Rockin' Around The Christmas Tree              1    5    3    5
3                              Unholy              6   54    4   54
4                    Jingle Bell Rock   Mariah Carey    6    5    6
..                                ...            ...  ...  ...  ...
95               Someday At Christmas             14   33   96   33
96                     Vigilante Shit  Morgan Wallen    -   97    -
97                          Forget Me             13    3   98    3
98                 Going, Going, Gone              5   38   99   38
99                           Miss You             29   27  100   27

[100 rows x 5 columns]

In [95]:
driver.close()

### 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
#### You have to find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [37]:
# connecting to the web driver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://www.naukri.com/")
driver.get(url)
time.sleep(3)

In [38]:
driver.maximize_window()
search_field = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_field.send_keys('Data Science')

In [39]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [40]:
name = []
name_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in name_tag:
    name.append(i.text)
len(name)

20

In [41]:
comp = []
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    comp.append(i.text)
len(comp)

20

In [42]:
skill = []
skill_tag = driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in skill_tag:
    skill.append(i.text)
len(skill)

20

In [43]:
loc = []
loc_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    loc.append(i.text)
len(loc)

20

In [44]:
df = pd.DataFrame({'JOB Title':name,'Company':comp,'Skills':skill,'Location':loc})
df

,JOB Title,Company,Skills,Location
0,Analyst-Data Science,AMERICAN EXPRESS,BS / MS or PhD in a quantitative field - Appli...,Gurgaon/Gurugram
1,Data Scientist - Data Science,Bristlecone,Graduation Post Graduation in Statistics Compe...,Mumbai
2,Sr. Manager - Data Science,AMERICAN EXPRESS,Masters / PhDs in a quantitative field (Comput...,Gurgaon/Gurugram
3,Lead Data Scientist - Data Sciences,GEP,", code review and version control tools, batch...",Remote
4,Data Science - Engineering Manager,Paytm,- We are looking for passionate and skilled da...,"New Delhi, Bangalore/Bengaluru"
5,Data Analyst / Data Science,Infoweb,We are looking to hire a data analyst to join ...,Pune
6,Analyst-Data Science,Accenture,You will be required to utilize the existing f...,Bangalore/Bengaluru
7,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Python Programm...,Mumbai
8,Data Science Lead - Forecasting,Cargill,"Bachelor s degree in Computer science, Statist...",Bangalore/Bengaluru
9,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,The ideal candidate should have a strong clien...,Bangalore/Bengaluru
10,Paytm - Data Science - Lead,Paytm,Bachelor s degree in technical/ analytics/ dat...,"Noida, Mumbai, Bangalore/Bengaluru"
11,Consultant - Data Science,Affine Analytics,Qualitative skills: Should have played project...,Bangalore/Bengaluru
12,Senior Data Science Engineer,Bizongo,"5+ years of experience in designing, developin...","Mumbai, Bangalore/Bengaluru"
13,ACN - Applied Intelligence - CC - Data Science...,Accenture,Requirements: Responsible for taking up day-to...,Gurgaon/Gurugram
14,Data Science- Data Scientist/Sr. Data Scientist,Jet2 Travel Technologies,"As a part of J2TT, the successful candidate wi...",Pune
15,Deputy National Lead - Payments - Data Science,BAJAJ FINSERVE,"Bachelor s Degree in computer science, Math, P...",Pune
16,Data Science Engineer,Geeky Bee AI Pvt Ltd,We are looking for Data Science Engineers with...,Pune(Wakad)
17,Data Science Analyst,Ira Commerce,Experience in Developing and enhancing algorit...,Hyderabad/Secunderabad
18,Manager / Senior Manager - Data Science,PYLON Management Consulting Private Limited,Nice to have: Phd or degree from IIT / IIM/oth...,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
19,Consultant/Senior Manager - Analytics/Data Sci...,Huquo Consulting Pvt. Ltd,Analytics Consultant/ Senior Manager- Data Sci...,"Gurgaon/Gurugram, Bangalore/Bengaluru"

In [45]:
driver.close()

### 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
#### You have to find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [46]:
# connecting to the web driver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

# getting the webpage of mentioned url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()

In [47]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in detail_tag:
    detail.append(i.text)
detail

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [48]:
rank = detail[0:500:5]
book_name = detail[1:500:5]
author_name=detail[2:500:5]
vol_sales=detail[3:500:5]
publisher = detail[4:500:5]

In [49]:
genre = []
genre_tag =driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre_tag:
    genre.append(i.text)
len(genre)

100

In [50]:
df = pd.DataFrame({'Rank':rank,'Book Name':book_name,'Author Name':author_name,'Volume Sales':vol_sales,'Publisher':publisher,'Genre':genre})
df

,Rank,Book Name,Author Name,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [51]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [52]:
# connecting to the web driver
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

# getting the webpage of mentioned url
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

In [53]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in detail_tag:
    detail.append(i.text)
detail

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [54]:
year = []
year_tag = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    year.append(i.text)
year

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019– )',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [55]:
rating = []
rating_tag = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rating_tag:
    rating.append(i.text.split('\n')[0])
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [56]:
run = []
run_tag = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_tag:
    run.append(i.text)
run

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [57]:
genre = []
genre_tag = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tag:
    genre.append(i.text)
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [58]:
votes = []
votes_tag = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tag:
    votes.append(i.text)
votes

['2,090,968',
 '1,180,461',
 '989,459',
 '292,961',
 '252,122',
 '303,012',
 '145,547',
 '309,050',
 '346,399',
 '432,048',
 '476,250',
 '807,445',
 '545,957',
 '924,620',
 '531,920',
 '168,076',
 '322,383',
 '319,791',
 '1,873,803',
 '324,585',
 '445,857',
 '535,507',
 '152,321',
 '149,003',
 '407,580',
 '225,505',
 '422,137',
 '440,956',
 '993,220',
 '683,349',
 '410,991',
 '387,840',
 '136,656',
 '124,450',
 '175,517',
 '155,038',
 '230,979',
 '505,131',
 '215,230',
 '430,812',
 '519,975',
 '64,136',
 '191,006',
 '504,738',
 '385,649',
 '79,738',
 '280,766',
 '243,482',
 '225,149',
 '217,694',
 '240,666',
 '725,563',
 '130,476',
 '340,098',
 '249,856',
 '553,621',
 '546,807',
 '465,042',
 '61,276',
 '111,559',
 '342,109',
 '74,418',
 '105,262',
 '237,275',
 '95,853',
 '95,601',
 '51,180',
 '149,023',
 '369,696',
 '316,332',
 '107,053',
 '248,382',
 '570,620',
 '105,489',
 '129,647',
 '525,867',
 '108,759',
 '236,662',
 '89,503',
 '22,890',
 '144,476',
 '160,799',
 '131,778',
 '37,615',
 '288,873',
 '120,505',
 '131,870',
 '74,359',
 '108,525',
 '199,680',
 '29,136',
 '185,791',
 '217,104',
 '749,036',
 '68,723',
 '50,204',
 '61,505',
 '198,478',
 '41,586',
 '245,381']

In [59]:
df= pd.DataFrame({'Name':detail,'Year span':year,'Genre':genre,'Run time':run,'Ratings':rating,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,090,968"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,180,461"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"989,459"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,961"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,122"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,204"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,505"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,478"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,586"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,381"

In [60]:
driver.close()

#### 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
#### You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [75]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
driver.maximize_window()

In [76]:
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)

In [77]:
dataset_btn=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]") 
dataset_btn.click()

In [78]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []


N_name = driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a')
for name in N_name:
    Dataset_name.append(name.text)
    
#scraping the data of data
try:
    op_data = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]')
    for os in op_data:
        Data_type.append(os.text)
except NoSuchElementException:
    Data_type.append('-')


#scraping data of display of the Task
try:
    task = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
    for disp in task:
        Task.append(disp.text)
except NoSuchElementException:
    Task.append("-")


# scraping data of Attribute type
try:
    att = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
    for pro in att:
        Attribute_type.append(pro.text)
except NoSuchElementException:
     Attribute_type.append('-')


# scraping the data of No_of_instances
try:
    inst = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]')
    for memo in inst:
        No_of_instances.append(memo.text)
except NoSuchElementException:
    No_of_instances.append('-')
    
    
# scraping the data of No_of_attribute
try:
    attri = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]')
    for memo in attri:
        No_of_attribute.append(memo.text)
except NoSuchElementException:
    No_of_attribute.append('-')   
    
    
# scraping the data of Year
try:
    year = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]')
    for mem in year:
        Year.append(mem.text)
except NoSuchElementException:
    Year.append('-')

In [79]:
import pandas as pd
UCI = pd.DataFrame()
UCI['Name'] = Dataset_name
UCI['Data type'] = Data_type
UCI['Task'] = Task
UCI['Attribute_type'] = Attribute_type
UCI['No_of_instances'] = No_of_instances
UCI['No_of_attribute'] = No_of_attribute
UCI['Year'] = Year
UCI

,Name,Data type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer","Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real","Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Classification,"Integer, Real","Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,,,1014,7,2020
620,Room Occupancy Estimation,Classification,Real,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Regression,Real,Real,4000,2,2021

In [80]:
driver.close()