###   Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
####     a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
####     b) Top 10 ODI Batsmen along with the records of their team and rating.
####     c) Top 10 ODI bowlers along with the records of their team and rating.




#### Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [1]:
# import important libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import csv

In [2]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)

In [3]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

# looping through the tr tag to extract the data
for i in tr:
  row_data = i.find_all('td')
  l = []
  for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

  row.append(l)

#### Extracting the data row wise

In [4]:
list = []
for i in row:
  #print(i)
  pos = i[0][0]
  team = i[1][0]
  matches = i[2][0]
  point = i[3][0]
  rating = i[4][0]
  
  #---------------------------------------Saving the data into list of dictionary--------------------------------
  d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
  list.append(d)

### making data frame

In [5]:
df = pd.DataFrame(list)
df
df.drop(index=df.index[10:])

  POS          TEAM MATCHES POINTS RATING
0   1       England      27  3,226    119
1   2   New Zealand      22  2,508    114
2   3         India      34  3,802    112
3   4      Pakistan      22  2,354    107
4   5     Australia      29  3,071    106
5   6  South Africa      24  2,392    100
6   7    Bangladesh      30  2,753     92
7   8     Sri Lanka      29  2,658     92
8   9   West Indies      41  2,902     71
9  10   Afghanistan      18  1,238     69

###  Top 10 ODI Batsmen along with the records of their team and rating . ###

In [6]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

####           Creating the list for saving the scraped data

In [7]:
#Scrapaing the data of first ranking person
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

#### Scraping the data after first person

In [9]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

#### Creating Data frame

In [10]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ ODI_Batting_Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [12]:
df
df.drop(index=df.index[10:])

,POS,PLAYER,TEAM,RATING,CAREER BEST RATING
0,\n\n\n 1\n ...,Babar Azam,PAK,890,"898 v West Indies, 10/06/2022"
1,2,Imam-ul-Haq,PAK,779,"815 v West Indies, 12/06/2022"
2,3,Rassie van der Dussen,SA,766,"796 v England, 19/07/2022"
3,4,Quinton de Kock,SA,759,"813 v Sri Lanka, 10/03/2019"
4,5,Jonny Bairstow,ENG,732,"796 v India, 26/03/2021"
5,6,David Warner,AUS,725,"880 v Pakistan, 26/01/2017"
6,7,Virat Kohli,IND,722,"911 v England, 12/07/2018"
7,8,Rohit Sharma,IND,718,"885 v Sri Lanka, 06/07/2019"
8,9,Ross Taylor,NZ,701,"841 v Bangladesh, 05/06/2019"
9,10,Steve Smith,AUS,697,"752 v Pakistan, 22/01/2017"

## Top 10 ODI bowlers along with the records of their team and rating.

In [13]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

### scraping data for first player

In [14]:
# Creating the list for saving the scraped data

pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)
# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

###  Scraping the data after first player

In [15]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

### making data frame

In [16]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ODI Bowling Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [17]:
df.drop(index=df.index[10:])

,POS,PLAYER,TEAM,RATING,CAREER BEST RATING
0,\n\n\n 1\n ...,Trent Boult,NZ,775,"775 v Australia, 11/09/2022"
1,2,Josh Hazlewood,AUS,718,"733 v England, 26/01/2018"
2,3,Mujeeb Ur Rahman,AFG,676,"712 v Ireland, 24/01/2021"
3,4,Shaheen Afridi,PAK,661,"688 v West Indies, 10/06/2022"
4,5,Mohammad Nabi,AFG,657,"657 v Zimbabwe, 09/06/2022"
5,6,Mehedi Hasan,BAN,655,"725 v Sri Lanka, 25/05/2021"
6,7,Matt Henry,NZ,654,"691 v Bangladesh, 26/03/2021"
7,8,Mitchell Starc,AUS,653,"783 v New Zealand, 29/03/2015"
8,9,Rashid Khan,AFG,651,"806 v Pakistan, 21/09/2018"
9,10,Jasprit Bumrah,IND,642,"841 v West Indies, 01/11/2018"