### 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
#### i) Rank
#### ii) Publication
#### iii) h5-index
#### iv) h5-median

### importing important libraries

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
r = requests.get(url)
r

#### Data scraping

In [4]:
soup=bs(r.content)
titles=[]

for i in soup.find_all('td',class_="gsc_mvt_t"):
    titles.append(i.text)
    
rank=[]

for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
    
h5i=[]

for i in soup.find_all('td',class_="gsc_mvt_n"):
    h5i.append(i.text)
    
h5i
del h5i[1::2]


h5m=[]

for i in soup.find_all('td',class_="gsc_mvt_n"):
    h5m.append(i.text)
    
h5m
del h5m[0::2]

### Data framing

In [5]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'Publication':titles,'h5-index':h5i,'h5-median':h5m})
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]