###  Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
###  and make data frame.

### (Question no 2 and 3 are same )

In [1]:
# importing important libraries 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page=requests.get('https://www.imdb.com/chart/top/')
page

In [3]:
# extracting all the title of the muvies and checking the length

soup=BeautifulSoup(page.content)
titles=[]

for i in soup.find_all('td',class_="titleColumn"):
    titles.append(i.text.split("\n")[2])
    
titles
new_titles=titles[:100]

new_titles
print(len(new_titles))

100

In [4]:
# extracting all the rating of the muvies and checking the length
rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.split("\n")[1])
rating
new_rating=rating[:100]
print(len(new_rating))

100

In [5]:
# extracting all the years of the muvies and checking the length
year=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text)
year
new_year=year[:100]
print(len(new_year))

100

In [6]:
# making data frame using pandas 
df=pd.DataFrame({'Titles' : new_titles, 'Year' : new_year, 'Rating' : new_rating})
df

                                     Titles    Year Rating
0                  The Shawshank Redemption  (1994)    9.2
1                             The Godfather  (1972)    9.2
2                           The Dark Knight  (2008)    9.0
3                     The Godfather Part II  (1974)    9.0
4                              12 Angry Men  (1957)    9.0
..                                      ...     ...    ...
95                       Lawrence of Arabia  (1962)    8.3
96        M - Eine Stadt sucht einen Mörder  (1931)    8.3
97                             Idi i smotri  (1985)    8.3
98                       North by Northwest  (1959)    8.2
99                                  Vertigo  (1958)    8.2

[100 rows x 3 columns]